header{
    background-color: black;
}
.banner_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: white;
    line-height: 50px;
}
.navbar a.active{
    text-decoration: none;
    color: white;
}
.navbar a{
    text-decoration: none;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.377);
  transition: 0.3s;
  position: relative;
}
.navbar a:hover{
    color: rgba(255, 255, 255, 0.55);
}